# Ambienti virtuali
.venv/
env/
venv/

# File Python compilati
__pycache__/
*.py[cod]
*.pyo

# Dati
data/raw/*
data/processed/*
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

# Modelli
models/*

# Notebook di backup
.ipynb_checkpoints/

# File vari IDE
.vscode/
.idea/
.DS_Store
notebooks/.DS_Store
notebooks/.cache/
# Allow important processed dataset
!data/processed/spotify_dataset_clustered.csv

# Allow required model files
!models/mlp_subcluster.pth
!models/scaler_mean.npy
!models/scaler_scale.npy
!models/label_encoder_classes.npy